In [4]:
import numpy as np
import pandas as pd
from scipy import stats
import statistics as stc

# Correct the file path with a raw string (r"") or by using forward slashes
heart_df = pd.read_csv(r"D:\College\Semester 5\PDS\CSV\HeartAttack.csv")

print(heart_df)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall  output
0      0      1       1
1      0      2       1
2      0      2       1
3      0      2       1
4      0      2       1
..   ...    ...     ...
298    0      3       0
299    0      3       0
300    2      3       0
301    1      3       0
302    1      2       0

[303 rows x 14 columns]

In [5]:
heart_df.head(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [6]:
heart_df.tail(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
# Print the statistics details for column BMI
#print("The statistics details for column BMI are as follows :-")
# Mean of BMI
#print("\nMean of BMI: ", stc.mean(heart_df['BMI']))
# Mode of BMI
#print("Mode of BMI: ", stc.mode(heart_df['BMI']))
# Median of BMI
#print("Median of BMI: ", stc.median(heart_df['BMI']))
# Variance of BMI
#print("Variance of BMI: ", stc.variance(heart_df['BMI']))
# Standard Deviation of BMI
#print("Standard Deviation of BMI: ", stc.stdev(heart_df['BMI']))
# Skewness for BMI
#print("Skewness of BMI: ", heart_df['BMI'].skew())
# Kurtosis for BMI
#print("Kurtosis of BMI: ", heart_df['BMI'].kurt())
# Maximum of BMI
#print("Maximum of BMI: ", heart_df['BMI'].max())
# Minimum of BMI
#print("Minimum of BMI: ", heart_df['BMI'].min())
# Range of BMI
#print("Range of BMI: ", heart_df['BMI'].max() - heart_df['BMI'].min())

In [ ]:
# Print the statistics details for the column 'MentalHealth'
# print("The statistics details for column Mental Health are as follows :-")
# Mean of Mental Health
# print("\nMean of Mental Health: ", stc.mean(heart_df['MentalHealth']))
# Mode of Mental Health
# print("Mode of Mental Health: ", stc.mode(heart_df['MentalHealth']))
# Median of Mental Health
# print("Median of Mental Health: ", stc.median(heart_df['MentalHealth']))
# Variance of Mental Health
# print("Variance of Mental Health: ", stc.variance(heart_df['MentalHealth']))
# Standard Deviation of Mental Health
# print("Standard Deviation of Mental Health: ", stc.stdev(heart_df['MentalHealth']))
# Skewness of Mental Health
# print("Skewness of Mental Health: ", heart_df['MentalHealth'].skew())
# Kurtosis of Mental Health
# print("Kurtosis of Mental Health: ", heart_df['MentalHealth'].kurt())
# Maximum of Mental Health
# print("Maximum of Mental Health: ", heart_df['MentalHealth'].max())
# Minimum of Mental Health
# print("Minimum of Mental Health: ", heart_df['MentalHealth'].min())
# Range of Mental Health
# print("Range of Mental Health: ", heart_df['MentalHealth'].max() - heart_df['MentalHealth'].min())

In [ ]:
# Print the statistics details for the column 'SleepTime'
#print("The statistics details for column Sleep Time are as follows :-")
# Mean of Sleep Time
#print("\nMean of Sleep Time: ", stc.mean(heart_df['SleepTime']))
# Mode of Sleep Time
#print("Mode of Sleep Time: ", stc.mode(heart_df['SleepTime']))
# Median of Sleep Time
#print("Median of Sleep Time: ", stc.median(heart_df['SleepTime']))
# Variance of Sleep Time
#print("Variance of Sleep Time: ", stc.variance(heart_df['SleepTime']))
# Standard Deviation of Sleep Time
#print("Standard Deviation of Sleep Time: ", stc.stdev(heart_df['SleepTime']))
# Skewness of Sleep Time
#print("Skewness of Sleep Time: ", heart_df['SleepTime'].skew())
# Kurtosis of Sleep Time
#print("Kurtosis of Sleep Time: ", heart_df['SleepTime'].kurt())
# Maximum of Sleep Time
#print("Maximum of Sleep Time: ", heart_df['SleepTime'].max())
# Minimum of Sleep Time
#print("Minimum of Sleep Time: ", heart_df['SleepTime'].min())
# Range of Sleep Time
#print("Range of Sleep Time: ", heart_df['SleepTime'].max() - heart_df['SleepTime'].min())

In [11]:
print("\n The overall statistics of the dataframe can be given as :- ")
heart_df.describe()

 The overall statistics of the dataframe can be given as :-

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
# Print the statistics details for the column 'BMI'
#print("\nThe statistics for BMI are given as :- \n")
# 1. Describe: Summary statistics (count, mean, variance, min, max, range)
#print("Summary statistics for BMI:\n", stats.describe(heart_df['BMI']))
# 2. Geometric mean of BMI
#print("\nGeometric Mean of BMI:\n", stats.gmean(heart_df['BMI']))
# 3. Mode of BMI
#print("\nMode of BMI and its count:\n", stats.mode(heart_df['BMI'], axis=None))
# 4. Variance of BMI (total variance)
#print("\nVariance of BMI:\n", stats.tvar(heart_df['BMI']))

In [ ]:
#import numpy as np
#print(np.mean(heart_df['BMI']))
#print(np.median(heart_df['BMI']))

In [ ]:
#import pandas as pd
#from scipy import mean, median
#from scipy.stats import variation
# Assuming heart_df is already defined and populated with data
# Example:
# heart_df = pd.read_csv('your_file.csv')
# Calculate mean and median
3print("Mean BMI is:", mean(heart_df['BMI']))
#print("Median BMI is:", median(heart_df['BMI']))
# Calculate variation
#print("Variation for BMI is:", variation(heart_df['BMI']))

In [12]:
#Shape and Symmetry
#print(heart_df.skew(numeric_only = True))

In [ ]:
#print(heart_df.skew(axis=0,numeric_only=True))

In [ ]:
#print(heart_df.kurt(numeric_only=True))

In [ ]:
#print(heart_df.kurt(axis=0,numeric_only=True)